extends layout

block content
	ul
		each post in posts
			li 
				a(href='/posts/' + post._id)= post.title
				div by 
					a(href='/users/' + '51571d33b6a6d23e0bc80373') Alex Cason
					|  | #{post.comments.length} comments