extends layout

block content
	form(action='/signin', method='post')
		div
			input(id='email', type='text', placeholder='Email', name='email')
		div
			input(id='password', type='password', placeholder='Password', name='password')
		div
			input(type='submit', value='Sign In')